# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.env

# FastAPI / Uvicorn
*.log

# SQLite database
data/*.db

# Node / Angular
node_modules/
dist/
.angular/

# OS / Editor
.DS_Store
.vscode/
.idea/
